@font-face {
    font-family: 'Asmaa';
    src: url('Asmaa-Font.otf');
}
@font-face {
    font-family: 'Kharabeesh';
    src: url('kharabeesh.ttf');
}
@font-face {
    font-family: 'Ubuntu-Arabic';
    src: url('Ubuntu-Arabic_B.ttf');
}
@font-face {
    font-family: 'Dimnah';
    src: url('dimnah.ttf');
}
@font-face {
    font-family: 'Al-hor';
    src: url('al-hor.ttf');
}
@font-face {
    font-family: '3asri';
    src: url('3asri-3adi.ttf');
}
@font-face {
    font-family: 'TIMES';
    src: url('times.ttf');
}
